@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue, sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  scroll-behavior: smooth;
  }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hamburger-line{
  @apply w-[30px] h-[2px] my-2 block bg-black;
}

.hamburger-active > span:nth-child(1){
  @apply rotate-45;
}

.hamburger-active > span:nth-child(2){
  @apply scale-0;
}

.hamburger-active > span:nth-child(3){
  @apply -rotate-45;
}

.navbar-fixed {
  @apply fixed z-[9999] bg-gray-100 opacity-80;
  backdrop-filter: blur(10px);
  box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.81);
}

.space-gradient {
  margin-top: -280px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: white;
  }
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  height: 300px;
  max-height: 100vh;
}

.number-slide1 {
  background: rgb(231, 133, 53);
  
}
.number-slide2 {
  background: rgb(84, 255, 181);
  
}
.number-slide3 {
  background: rgb(86, 151, 255);
  
}